#Pipeline Services
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=customer_db
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
PIPELINE_SERVICE_PORT=8000
APP_HOST=0.0.0.0
APP_PORT=8000
INGEST_PAGE_SIZE=10
MOCK_SERVER_URL=http://localhost:5000

#Mock Server
MOCK_SERVER_HOST=0.0.0.0
MOCK_SERVER_PORT=5000
